<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="main.js"></script>
    <title>{% block title %}Kaizen{% endblock %}</title>
    <link rel="icon" href="conk.jpeg?version=2">
</head>

<body>
    <!--make some menu, where i can access past issues, nad i can access some quotes or some images.-->
    {}

</body>
<footer>†</footer>
</html>
<!-- use ajax requests -->