<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">

    {% block title %}
    <title>Kaizen</title>
    <link rel="icon" href="static/conk.jpeg">

    {% endblock %}

</head>

<body>
    <nav>
        <button>MENU</button>
        <div>
            <a></a> <!--for navbar, links to pages, etc-->
        </div>
    </nav>
    
    <!--make some menu, where i can access past issues, nad i can access some quotes or some images.-->
    <div class="container">{% block content %}{% endblock %}</div>

</body>
<footer>†</footer>
</html>
<!-- use ajax requests -->
