@import url('https://fonts.google.com/specimen/Playfair+Display');

body {
  font-family: 'ply disply';
  background-color: #3a5a40;
}

#img_sait {
  margin-top: 40px;
  margin-bottom: 40px;
}

#sign-up-text {
  margin-top: 17px;
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: bold;
}

.disc {
  font-size: small;
  font-weight: 500;
}

.center {
  display: block;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

button,
input {
  border-radius: 7px;
  background: #dad7cd;
  padding: 10px 9px;
  border: 1px solid #588157;
}

input:hover {
  background-color: #a3b18a;
}

#button_submit:hover {
  background-color: #a3b18a;
}

#fname,
#lname,
#age,
#email,
#button_submit {
  margin-top: 13px;
  margin-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  color: #3a5a40;
}

#no_regret {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}

::placeholder {
  color: #3a5a40;
}

.cntrl input:focus {
  outline: 0;
}

.cntrl.success input {
  border-color: #588157;
}

.cntrl.error input {
  border-color: #588157;
}

.cntrl .error {
  color: #d26767;
  font-size: 10px;
  height: 0px;
}

.redfont {
  color: red;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0; /* Align the navbar to the right */
  width: 100%;
  background-color: rgba(218, 215, 205, 0.965);
  display: flex-end;
  justify-content: flex-end;
}

.navbar::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #dad7cd;
}

.menu-toggle {
  display: block;
  margin: 10px;
  color: #3a5a40;
  border: none;
  background: none;
  font-size: 20px;
}


.menu {
  display: none;
  padding: 10px;
  position: absolute;
  top: 100%;
  right: 0; /* Align the dropdown menu to the right */
  background-color: #588157;
  border: 1px solid #dad7cd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.menu a {
  display: block;
  margin-bottom: 5px;
  color: #dad7cd;
  text-decoration: none;
}

.menu a:hover {
  color: #a3b18a;
}

.menu-toggle.active + .menu {
  display: block;
}

.section {
  margin-top: 10px;
  padding-left: 10px;
  border-left: 2px solid #dad7cd;
}

.content-wrapper {
  margin-top: 80px;
}
